:root{
  --one: #035AA6;
  --two: #2FA6DE;
  --white: #ffffff;
  --gren: #f9f9f9;
}
*, *:after, *:before{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
html, body{
  height: 100%;
  min-width: 320px;
  font-family: Raleway;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
  cursor: pointer;
}
.Site{
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.Site section{
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}
.Site section:nth-of-type(1){
  display: flex;
  justify-content: center;
}
.Site section:nth-of-type(2){
  width: 100%;
  height: 100%;
  background-color: var(--gren);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Site section:nth-of-type(3){
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Site section:nth-of-type(4){
  width: 100%;
  height: 100%;
  background-color: var(--one);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Menu{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  background-color: var(--white);
  /*color: var(--one);*/
  position: fixed;
  z-index: 0;
  box-shadow: 0 8px 7px -11px;
}
.Logo{
  width: 56px;
  margin-left: 2%;
}
.Logo img{
  width: 100%;
}
.Text_Menu a{
  color: var(--one);
}
.menu{
  display: flex;
  font-size: 17px;
}
.menu li{
  padding: 0 15px;
}
.menu li a:hover{
  transition: all .45s ease-in-out;
  color: var(--two);
  font-size: 17.5px;
}
.Stydent{
  display: none;
  position: absolute;
  background-color: var(--white);
  box-shadow: 0 8px 7px -11px;
}
.Stydent li{
  padding: 7.5px 0 7.5px;
}
.section a{
  cursor: pointer;
}
#checkbox{
  display: none;
}
#checkbox1{
  display: none;
}
#checkbox1:checked ~ .Stydent{
  display: block;
}
#checkbox1:checked ~ .section a{
  color: var(--one);
  font-size: 17.5px;
}
.Button{
  cursor: pointer;
  display: none;
}
.Img_button{
  background-color: var(--one);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
.Img_button::before,
.Img_button::after{
  background-color: var(--one);
  content: ' ';
  display: block;
  position: absolute;
  transition: all .45s;
  width: 100%;
  height: 100%;
}
.Img_button::before{
  top: 7px;
}
.Img_button::after{
  top: -7px;
}
@media (max-width: 980px){
  .menu{
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--one);
    right: 0;
    left: 0;
    text-align: center;
    margin-top: 1.5%;
  }
  .menu li a{
    color: var(--white);
    display: block;
    padding: 15px;
  }
  .menu li a:hover{
    transition: all .45s ease-in-out;
    color: var(--one);
    font-size: 17.5px;
  }
  .menu li{
    transition: all .45s;
    border: 2px solid var(--one);
  }
  .menu li:hover{
    background-color: var(--white);
    border-color: var(--one);
  }
  .Stydent{
    position: relative;
  }
  .Stydent li{
    border: 0;
  }
  .Stydent li a{
    color: var(--one);
  }
  .Button{
    display: block;
    padding: 20px 0;
  }
  #checkbox:checked ~ .menu{
    display: block;
    max-height: 1000%;
    transition: all .45s ease-in-out;
  }
  #checkbox:checked ~ .Button .Img_button{
    background-color: transparent;
  }
  #checkbox:checked ~ .Button .Img_button::before{
    transform: rotate(-45deg);
    top: 0;
  }
  #checkbox:checked ~ .Button .Img_button::after{
    transform: rotate(45deg);
    top: 0;
  }
}
.Text-foto{
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.Text{
  height: 50%;
  width: 100%;
  font-size: 21px;
  font-weight: 300;
  color: var(--one);
}
.Text h1{
  font-size: 50px;
}
.Foto{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.Foto img{
  width: 90%;
}
@media (max-width: 1220px) {
  .Text h1{
    font-size: 48px;
  }
  .Foto img{
    width: 100%;
  }
}
.Slide{
  width: 80%;
  height: 50%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  margin-top: 4.5%;
}
.Slide .slide{
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}
.slide_foto{
  width: 35%;
}
.slide_foto img{
  width: 100%;
}
.slide_text{
  width: 60%;
  height: 61%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  color: var(--one);
  font-size: 13px;
}
.slide_text h1{
  font-size: 25px;
  padding-bottom: 3%;
}
.condition{
  display: flex;
  justify-content: space-between;
}
.exams, .job{
  width: 49%;
}
@media (max-width:768px){
  .Slide{
    height: 80%;
  }
  .Slide .slide{
    height: auto;
    flex-direction: column-reverse;
  }
  .slide_foto{
    width: 90%;
  }
  .slide_text{
    width: 90%;
    height: 70%;
    font-size: 25px;
  }
  .slide_text h1{
    padding-top: 2.5%;
    font-size: 37px;
  }
  .condition{
    flex-direction: column;
  }
  .exams, .job{
    width: auto;
  }
}
.Teacher{
  width: 80%;
  height: 50%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  margin-top: 4.5%;
}
.teacher{
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
}
.avatar_foto{
  height: 100%;
}
.avatar_foto img{
  min-height: 90%;
}
.name_text{
  font-weight: 300;
  color: var(--one);
  font-size: 21px;
  text-align: center;
}
.name_text p{
  font-size: 17px;
}
@media (max-width:768px) {
  .teacher{
    flex-direction: column;
  }
  .name_text{
    margin-bottom: 3%;
  }
}
.kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  color: var(--white);
  margin-top: 4.5%;
}
.kontakt h2, .kontakt h3{
  padding-top: 1.5%;
  font-weight: 500;
  font-size: 25px;
}
.kontakt h3{
  padding-bottom: 7%;
}
.media {
  width: 30%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.media li {
    width: 13%;
    height: 100%;
}
.instagram-foto, .phone-foto, .email-foto {
  width: 100%;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Thin.ttf");
  font-weight: Thin;
}
@font-face {
  font-family: "Releway";
  src: url("../fonts/Raleway/Raleway-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Releway";
  src: url("../fonts/Raleway/Raleway-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-ExtraLight.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-weight: normal;
}
